$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '~//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css';

$app-header-bg-color: #33bfe0;
$app-bg-color: #4450b2;
$app-red: #da568a;
$app-red-hover: #ff64a1;
$background-color: #22285a;
$black: #000;
$box-border: #fff solid 5px;
$btn-bg-color: #053444;
$btn-primary-bg-color: #70bae4;
$btn-primary-color: #0b934d;
$btn-primary-hover-bg: #84cbf3;
$btn-hover-bg-color: #4aea99;
$btn-margin-size-1: 10px;
$font-type: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$feedback-bg-color: #6e9cd5;
$grad1color1: #ec77ab;
$grad1color2: #7873f5;
$gradient1: linear-gradient(to right, $grad1color1 0%, $grad1color2 100%);
$hover-color:  #d4f4f7;
$list-bg-color: #4450b2;
$list-border-color: #293660;
$list-header-color: #73c0ec;
$list-hover-bg: #5b6cf1;
$module-bg-color: #2dc8d7;
$module-border: 2px solid #004d66;
$nav-color: #4658e2;
$nav-hover-color: #5d6ffd;
$off-white: #d9d9e4;
$text-shadow1: #c7bebe;
$text-shadow2: #ebecf1;
$white: #fff;


body {
  background-color: $background-color;
  // background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  color: $off-white;
  font-family: $font-type;
  height: 100%;

}

img {
  height: 50px;
  margin-left: 15px;
  width: 50px;
}

label {
  color: $off-white;
  font-size: 18px;
}

legend {
  border: 0;
}

a.list-group-item {
  background-color: $list-bg-color;
  border: 0;
  color: $white;
  font-size: 18px;
  margin: 3px 0;
  padding: 20px;

  &:hover {
    background-color: $list-hover-bg;
    color: $off-white;
  }
}

a.list-group-item .list-group-item-heading {
  color: $list-header-color;
  font-size: 20px;
}

.asterisk {
  color: $app-red;
}

.add-link {
  background: 0;
  border: 0;
  cursor: pointer;
  padding-right: 15px;
}

.alert-message {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 20px;
}

.app-form {
  background-color: $app-bg-color;
  border-bottom-color: $off-white;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-width: 2px;
  color: $off-white;
  font-size: 15px;
}

.app-header {
  background-image: $gradient1;
  color: $white;
  font-size: 20px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.app-title {
  color: $background-color;
  text-align: center;
  text-shadow: 1px 1px 2px $text-shadow1, 0 0 25px $white, 0 0 5px $text-shadow2;

}

.btn-secondary {
  background-color: $nav-color;
  color: $white;

  &:hover {
    background-color: $nav-hover-color;
    color: $white;
  }
}

.btn-danger {
  background-color: $app-red;

  &:hover {
    background-color: $app-red-hover;
  }
}

.btn-primary {
  background-color: $btn-primary-bg-color;
  border: 0;
  color: $white;

  &:hover {
    background-color: $btn-primary-hover-bg;
  }
}

.cancel-link {
  background: 0;
  border: 0;
  cursor: pointer;
  padding-left: 15px;
}

.cancel-exercise {
  margin-left: 10px;
}

.center {
  text-align: center;
}

.delete-exercise {
  display: block;
  font-size: 18px;
  margin: 3% auto;
  padding: 1% 15%;
}

.feedback-message {
  background-color: $feedback-bg-color;
  color: $white;
  font-weight: bold;
  padding: 13px;
}

.header {
  clear: both;
  color: $white;
  display: block;
  font-size: 250%;
  padding-top: 10px;
  text-align: center;
}

.list-color {
  color: $white;
}

.list-group-item-heading {
  font-weight: bold;
}

.link {
  color: $white;
  cursor: pointer;
  text-decoration: underline;

  &:hover {
    color: $hover-color;
  }
}


.mb-1 {
  margin-bottom: $btn-margin-size-1;
}

.ml-1 {
  margin-left: $btn-margin-size-1;
}

.mr-1 {
  margin-right: $btn-margin-size-1 * .5;
}

.navbar {
  margin-bottom: 0;
}

.navbar-default {
  background-image: $gradient1;
  border-bottom-color: $off-white;
  border-left: 0;
  border-right: 0;
  border-top: 0;

  .navbar-brand {
    color: $white;
    font-weight: bold;

    &:hover {
      color: $white;
    }
  }

  .navbar-nav > li > a {
    color: $white;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;

    &:hover {
      background-color: $nav-hover-color;
      color: $hover-color;
    }
  }

  .navbar-toggle {
    .icon-bar {
      background-color: $white;
    }

    &:hover {
      background-color: $nav-hover-color;
    }
  }
}

.new-btn {
  display: block;
  font-size: 18px;
  margin: 30px auto;
  padding: 12px 55px;
}

.no-exercises {
  padding-left: 15px;
}

.row {
  margin-left: 15px;
  margin-right: 15px;
}

.save-exercise {
  margin-right: 10px;
}

.save-link {
  background: 0;
  border: 0;
  padding-right: 18px;
}

.sign-in-header {
  color: $white;
}

.sign-in-module {
  // background-color: $app-header-bg-color;
  background-image: $gradient1;
  border: 0;
  float: none;
  margin: 5% auto;
  padding: 22px;
  text-align: center;
}

.text-muted {
  color: $off-white;
  font-size: 13px;
}
